flows.json
[{"id":"f86b916f.2fe85","type":"tab","label":"Bomba d'agua","disabled":false,"info":""},{"id":"96b760d8.b5973","type":"tab","label":"mqtt to servo","disabled":false,"info":""},{"id":"33cb6568.312cfa","type":"tab","label":"Pressure to mqtt","disabled":false,"info":""},{"id":"46716e4d.30484","type":"tab","label":"Agua","disabled":false,"info":""},{"id":"746f07c8.26fc78","type":"tab","label":"Water tank","disabled":false,"info":""},{"id":"9e9f8366.5b73e","type":"tab","label":"Food tank","disabled":false,"info":""},{"id":"7ea249c7.e267a8","type":"google-cloud-credentials","z":"","name":""},{"id":"28e28db3.9a0162","type":"mqtt-broker","z":"","name":"MQTT - THINK","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23260f75.1d3ec","type":"mqtt-broker","z":"","name":"MI","broker":"mqtt://broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7833c5b1.c7a0dc","type":"ui_group","z":"","name":"Default","tab":"6106db3f.fdac84","disp":true,"width":"6"},{"id":"6106db3f.fdac84","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"6b13554f.2bedec","type":"arduino-board","z":"","device":"/dev/ttyUSB0"},{"id":"fa16ada8.c9b13","type":"mqtt-broker","z":"","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"87f7053f.697088","type":"rpi-gpio out","z":"96b760d8.b5973","name":"Servo sg90","pin":"19","set":"","level":"0","freq":"50","out":"pwm","x":511.99995040893555,"y":141.99998092651367,"wires":[]},{"id":"26c81cd7.d77f44","type":"arduino in","z":"33cb6568.312cfa","name":"","pin":"0","state":"ANALOG","arduino":"6b13554f.2bedec","x":80.69097137451172,"y":133.5138874053955,"wires":[["3fcc0ec5.c08ae2","9d133340.f2c49"]]},{"id":"3b103180.8a30fe","type":"mqtt out","z":"33cb6568.312cfa","name":"","topic":"lps6-press","qos":"","retain":"","broker":"fa16ada8.c9b13","x":523.6909675598145,"y":134.10071563720703,"wires":[]},{"id":"14fbf09c.85691f","type":"mqtt in","z":"96b760d8.b5973","name":"","topic":"gsf4-servo","qos":"2","datatype":"auto","broker":"fa16ada8.c9b13","x":65,"y":190.96179008483887,"wires":[["4867c3db.a945bc"]]},{"id":"4867c3db.a945bc","type":"function","z":"96b760d8.b5973","name":"Giras 180°","func":"msg.payload = 3;\n\nreturn msg;","outputs":1,"noerr":0,"x":255.69456481933594,"y":206.24306774139404,"wires":[["87f7053f.697088","b9ae956d.1c2a38","73ab9224.bbcbec"]]},{"id":"a86d9086.a5e1c","type":"function","z":"96b760d8.b5973","name":"Desfazer giro","func":"msg.payload=11;\nreturn msg;\n","outputs":1,"noerr":0,"x":424.69441986083984,"y":363.2395887374878,"wires":[["87f7053f.697088","73ab9224.bbcbec"]]},{"id":"b9ae956d.1c2a38","type":"delay","z":"96b760d8.b5973","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":217.68053436279297,"y":328.29165172576904,"wires":[["a86d9086.a5e1c"]]},{"id":"1f7dbc8d.031713","type":"debug","z":"96b760d8.b5973","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":164.68055725097656,"y":632.0937728881836,"wires":[]},{"id":"3fcc0ec5.c08ae2","type":"function","z":"33cb6568.312cfa","name":"pressure to percent","func":"var peso_max = 20;\nvar peso_min = 9;\nmsg.payload = ((msg.payload - peso_min)/(peso_max - peso_min)) * 100;\nvar peso = parseInt(msg.payload);\nif (peso > 100){msg.payload=100};\nif (peso < 0){msg.payload=0};\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":77.79166221618652,"wires":[["3b103180.8a30fe"]]},{"id":"cc6a7a43.dcb508","type":"ui_button","z":"f86b916f.2fe85","name":"","group":"7833c5b1.c7a0dc","order":0,"width":0,"height":0,"passthru":false,"label":"Dale água","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":213.01740264892578,"y":124.01041316986084,"wires":[["97e9a31.fe37b6"]]},{"id":"83cd7a80.6fcca8","type":"rpi-gpio out","z":"f86b916f.2fe85","name":"","pin":"12","set":true,"level":"1","freq":"","out":"out","x":475.0173759460449,"y":158.01040840148926,"wires":[]},{"id":"9d133340.f2c49","type":"debug","z":"33cb6568.312cfa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":429.9965362548828,"y":330.01040840148926,"wires":[]},{"id":"7c4cdf13.b1391","type":"mqtt in","z":"33cb6568.312cfa","name":"","topic":"lps6-press","qos":"2","datatype":"auto","broker":"fa16ada8.c9b13","x":249.00001525878906,"y":334.4340286254883,"wires":[["9d133340.f2c49"]]},{"id":"cb7bf947.700318","type":"arduino in","z":"46716e4d.30484","name":"","pin":"5","state":"ANALOG","arduino":"6b13554f.2bedec","x":86.6805648803711,"y":150.95138359069824,"wires":[["22ca6639.4d43ca"]]},{"id":"2bcfe21f.febc3e","type":"debug","z":"46716e4d.30484","name":"water level on pot","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":385.69445037841797,"y":177.93404006958008,"wires":[]},{"id":"973711e8.432d1","type":"mqtt out","z":"46716e4d.30484","name":"","topic":"gsf4-water_pot","qos":"","retain":"","broker":"fa16ada8.c9b13","x":481.6909637451172,"y":77.87847900390625,"wires":[]},{"id":"dbf6fa9e.edd448","type":"ui_button","z":"96b760d8.b5973","name":"","group":"7833c5b1.c7a0dc","order":2,"width":0,"height":0,"passthru":false,"label":"Dale comida","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":119.0034408569336,"y":92.70484924316406,"wires":[["4867c3db.a945bc"]]},{"id":"97e9a31.fe37b6","type":"function","z":"f86b916f.2fe85","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":295.0173645019531,"y":218.01040649414062,"wires":[["59fc3526.7eb19c","83cd7a80.6fcca8"]]},{"id":"d6e75715.00aaf8","type":"function","z":"f86b916f.2fe85","name":"","func":"msg.payload=1;\nreturn msg;\n","outputs":1,"noerr":0,"x":408.0173225402832,"y":345.00691986083984,"wires":[["83cd7a80.6fcca8"]]},{"id":"59fc3526.7eb19c","type":"delay","z":"f86b916f.2fe85","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":231.00343704223633,"y":310.0589828491211,"wires":[["d6e75715.00aaf8"]]},{"id":"986456aa.752878","type":"mqtt in","z":"f86b916f.2fe85","name":"","topic":"gsf4-water_pump","qos":"2","datatype":"auto","broker":"fa16ada8.c9b13","x":107.68402099609375,"y":56.833335876464844,"wires":[["97e9a31.fe37b6"]]},{"id":"f35f4689.7b7f78","type":"rpi-srf","z":"746f07c8.26fc78","name":"","topic":"SRF","pulse":"0.5","pins":"8,10","x":100.69446182250977,"y":199.8020896911621,"wires":[["b6adae75.1ee9f"]]},{"id":"461f1c48.0a5cf4","type":"debug","z":"746f07c8.26fc78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":415.69446754455566,"y":317.0833406448364,"wires":[]},{"id":"a756742a.a52878","type":"debug","z":"9e9f8366.5b73e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":429.01733016967773,"y":266.01040267944336,"wires":[]},{"id":"f4c66068.a1415","type":"rpi-srf","z":"9e9f8366.5b73e","name":"","topic":"SRF","pulse":"0.5","pins":"35,37","x":142.01733016967773,"y":176.7291612625122,"wires":[["1c45a14a.9aa4cf"]]},{"id":"73ab9224.bbcbec","type":"debug","z":"96b760d8.b5973","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":599.6805191040039,"y":301.6458549499512,"wires":[]},{"id":"22ca6639.4d43ca","type":"function","z":"46716e4d.30484","name":"water to percent","func":"var peso_max = 760;\nvar peso_min = 0;\nmsg.payload = ((msg.payload - peso_min)/(peso_max - peso_min)) * 100;\nvar peso = parseInt(msg.payload);\nif (peso > 100){msg.payload=100}\nreturn msg;","outputs":1,"noerr":0,"x":195.01736450195312,"y":47.01041793823242,"wires":[["2bcfe21f.febc3e","973711e8.432d1"]]},{"id":"b6adae75.1ee9f","type":"function","z":"746f07c8.26fc78","name":"water to percent","func":"var distancia_max = 16;\nvar distancia_min = 8;\nmsg.payload = ((msg.payload - distancia_min)/(distancia_max - distancia_min)) * 100;\nmsg.payload = msg.payload - 100;\nmsg.payload = Math.abs(msg.payload);\nvar distancia = parseInt(msg.payload);\nif (distancia > 100){msg.payload=100}\nreturn msg;","outputs":1,"noerr":0,"x":212.01734924316406,"y":117.01041412353516,"wires":[["e2e3536d.6aa2c"]]},{"id":"e2e3536d.6aa2c","type":"mqtt out","z":"746f07c8.26fc78","name":"","topic":"gsf4-watertank","qos":"","retain":"","broker":"fa16ada8.c9b13","x":447.6840362548828,"y":193.46529388427734,"wires":[]},{"id":"30596190.0435ce","type":"mqtt in","z":"746f07c8.26fc78","name":"","topic":"gsf4-watertank","qos":"2","datatype":"auto","broker":"fa16ada8.c9b13","x":225.69444274902344,"y":323.8298683166504,"wires":[["461f1c48.0a5cf4"]]},{"id":"1c45a14a.9aa4cf","type":"function","z":"9e9f8366.5b73e","name":"food to percent","func":"var distancia_max = 15;\nvar distancia_min = 4;\nmsg.payload = ((msg.payload - distancia_min)/(distancia_max - distancia_min)) * 100;\nmsg.payload = msg.payload - 100;\nmsg.payload = Math.abs(msg.payload);\nvar distancia = parseInt(msg.payload);\nif (distancia > 100){msg.payload=100}\nreturn msg;","outputs":1,"noerr":0,"x":333.0173645019531,"y":98.01041412353516,"wires":[["7eb227b.8826ad8"]]},{"id":"7eb227b.8826ad8","type":"mqtt out","z":"9e9f8366.5b73e","name":"","topic":"gsf4-foodtank","qos":"","retain":"","broker":"fa16ada8.c9b13","x":531.6805267333984,"y":117.46182250976562,"wires":[]},{"id":"8427a872.e4fb28","type":"mqtt in","z":"9e9f8366.5b73e","name":"","topic":"gsf4-foodtank","qos":"2","datatype":"auto","broker":"fa16ada8.c9b13","x":206.69444274902344,"y":253.50000762939453,"wires":[["a756742a.a52878"]]}]